<div class="wrapper">
  <div></div>
  <div>
    <% if current_user.midwife? %>
      <div class="navbar-fymw" id="navbar-midwife">
        <i class="fa-solid fa-user-check" class="icon"></i>
        <i class="fa-solid fa-calendar-check" class="icon"></i>
        <%= link_to midwives_path(@midwife) do %>
        <i class="fa-solid fa-house" class="icon"></i>
        <% end %>
        <i class="fa-solid fa-comment" class="icon"></i>
        <i class="fa-solid fa-gear"class="icon"></i>
      </div>
    <% else %>
      <div class="navbar-fymw" id="navbar-mom">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-calendar-check"></i>
        <%= link_to midwives_path(@midwife) do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
        <i class="fa-solid fa-comment"></i>
        <i class="fa-solid fa-gear"></i>
      </div>
    <% end %>
  </div>
</div>
