#midwife-card {
  background-color:#DC928D;
}

#mom-card {
  background-color:#68B4AC;
}

.outer-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  border-radius: 10px;
  gap: 16px;
}

.outer-card-calendar{
  display: flex;
  justify-content: space-around;
  padding: 16px;
  border-radius: 10px;
  gap: 16px;
}

.background-card{
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
}

.inner-card{
  display: flex;
  flex-direction: column;
  background-color: #F6F8F8;
  border-radius: 10px;
  align-items:flex-start;
  justify-content: flex-start;
  padding: 16px 8px;
  gap: 8px;
}

.inner-card-map-index{
  display: flex;
  background-color: #F6F8F8;
  border-radius: 10px;
  align-items:flex-start;
  justify-content: flex-start;
  padding: 16px 8px;
  gap: 8px;
}

.inner-card-appointment{
  display: flex;
  background-color: #F6F8F8;
  border-radius: 10px;
  align-items:flex-start;
  justify-content: flex-start;
  padding: 4px 4px;
  gap: 8px;
}

.outer-card-appointment{
  display: flex;
  flex-direction: column;
  background-color: #F5C2BD;
  border-radius: 10px;
  align-items:flex-start;
  justify-content: flex-start;
  padding: 16px 8px;
  gap: 8px;
}

.info-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.border{
  width: 264px;
  height: 0px;
  border: 1px solid #DC928D;
}

.name-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.icon{
  color: #DC928D;
  font-size: 20px;
}
