.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-fymw{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  left: 0;
}
#navbar-midwife{
  background-color: #F5C2BD;
}

#navbar-mom{
  background-color: #7FE9DE;
}

i {
  text-decoration: none;
  color: #0A1211;
  font-size: 24px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
